body{
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #0d0d0d; /* #2c1f2e;*/
}

section {
    padding-top:70px;
    padding-bottom: 30px;
    min-height: 100vh;
    overflow: visible;    
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
}

.shaded-section {
  background-color: #e6fdfe;/* #DEFCFE; #E8E6E8; */
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-weight: bold;
  color: #040404;/* #58439E; */
}

h3, h4, h5 {
  font-weight: light;
  color: #040404;/* #644a6a;/*#58439E; */
}

h2 {
  font-weight: bold;
  color: #040404;/*#644a6a;/*#58439E;*/
  font-size: 3em;
}

a {
 color: #040404;/*#644a6a;*/
  
}
a:hover,
.nav-link:hover {
  color:#2CA3C5 !important;/*#9878d3;*/
}

 
/* intro section */
#intro {
    /* background-image: url("../images/puzzle2.jpg"); */
    background-image: url("../images/banner-1005546_1920.jpg");
    background-size: cover;   
}
.info {
  border-radius: 8px;
  color: #fff; /*#ede6ee;*/
  background-color:#040404; /*#644a6a; */
  -moz-box-shadow: 20px 20px 20px #d2c3d5;
  -webkit-box-shadow: 20px 20px 20px  #d2c3d5;
  box-shadow: 20px 20px 20px #d2c3d5; 
  padding: 1em; 
}
.info h1 {
 color: #ede6ee; 
 margin: .5em 1em;
}
.info p {
  font-size: 1em;
}
.button-panel {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.button-panel a {
  color: #ede6ee;
}
.flat-button {
    border: 1px solid #ede6ee;
    padding: 5px 10px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
 
/* about */
.label {
  font-weight: 900;
  color: black; /*#835d89 #926798;*/
  font-family: 'Raleway', sans-serif;
}
.subsection {
  /* font-size: .9em; */
}
/* projects */

/* portfolio style */
.project-tile {
    position: relative;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px; 
    height: var(--tile-width, 300px);
    width: var(--tile-width, 325px);
    background-color: #f2f2f2; /*#E8E6E8;*/
  }
   
  .project-tile img {
    height: 97%;
    width: 100%;
    display: block;
    margin: auto;
  }
  
  .project-description-section {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    font-size: 16px;
    background-color: #2496BB;/* #E8E6E8;*/
  }
  
  .project-description-section a {
    line-height: 1.5;
    font-size: 16px;
  }
   
  .project-tile:hover .project-description-section {
    height: 100%;
    top: 0;
  }
  
  .slide {
    height: 100%;
    top: 0;
  }
  
  .project-description-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: wrap;
    width: 325px;
    height: 100%;
    padding: 10px;
    color: #fff;
  }
  
  .project-description-text h3 {
    text-align: center;
  }
  
  .project-description-text a {
    font-weight: bold;
    font-size: 110%;
    color: #fff;
  }
  .project-description-text a:hover{
    color:#fff !important;
    text-decoration: underline;
}
  
  .project-title {
    color: #fff; /* #835d89;*/
  }
  
/* contact */


