body{
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #0d0d0d; /* #2c1f2e;*/
}

section {
    padding-top:40px;
    padding-bottom: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
}

.shaded-section {
  background-color: #e6fdfe;/* #DEFCFE; #E8E6E8; */
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-weight: bold;
  color: #040404;/* #58439E; */
}

h3, h4, h5 {
  font-weight: light;
  color: #040404;/* #644a6a;/*#58439E; */
}

h2 {
  font-weight: bold;
  color: #040404;/*#644a6a;/*#58439E;*/
  font-size: 3em;
}

a {
 color: #040404;/*#644a6a;*/
  
}
a:hover,
.nav-link:hover {
  color:#2CA3C5 !important;/*#9878d3;*/
}

/* intro section */
#intro {
    background-image: url("../images/banner.jpg");
    background-size: cover;   
}
.info {
  border-radius: 8px;
  color: #fff; /*#ede6ee;*/
  background-color:#040404; /*#644a6a; */
  -moz-box-shadow: 20px 20px 20px #d2c3d5;
  -webkit-box-shadow: 20px 20px 20px  #d2c3d5;
  box-shadow: 20px 20px 20px #d2c3d5; 
  padding: 1em; 
}
.info h1 {
 color: #ede6ee; 
 margin: .5em 1em;
}
.info p {
  font-size: 1em;
}
.button-panel {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.button-panel a {
  color: #ede6ee;
}
.flat-button {
    border: 1px solid #ede6ee;
    padding: 5px 10px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.skills-label {
  display: flex;
  flex-direction: column;
}

/* about */
.label {
  font-weight: 900;
  color: black; /*#835d89 #926798;*/
  font-family: 'Raleway', sans-serif;
}

/* projects */
.projects-container {
  padding-left: 3rem;
}
.project-row {
  margin-top: 20px;
}
.project-subtitle {
  text-align:right;
}

.subtext {
  font-size:11px; 
  font-weight:400;
  width:60%;
  float: right;
  text-align:right;
}

  .project-description a {
    line-height: 1.5;
    font-size: 16px;
  }
   

  .project-description {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    white-space: wrap;
    width: 325px;
    font-size: 16px;
    /* height: 100%;
    padding: 10px; */
    color: #fff;
  }
  
  .project-description h3 {
    text-align: center;
  }
  
  .project-description a {
    font-weight: bold;
    font-size: 110%;
    color: #fff;
  }
  .project-description a:hover{
    color:#fff !important;
    text-decoration: underline;
}
  
.project-title {
    color: #fff; /* #835d89;*/
  }
  
/* new tile */
.tile {
  /* width: 250px;
  height: 250px; */
  /* height: 300px;
  width: 325px; */
  height: 300px;
  width: 90%;
  margin: auto;
}

.tile__content {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.tile img {
  height: 97%;
  width: 100%;
  display: block;
  margin: auto;
}
.tile__front,
.tile__back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.tile__front {
  transform: rotateX(0deg);
}

.tile__back {
  transform: rotateY(180deg);
  background-color: #2496BB;
  padding: 10px;
}


.tile:hover .tile__content,
.tile:active .tile__content {
  transform: rotateY(180deg);
}

@media (max-width: 575px) {
  #intro {
    background-image: none;
    margin-top: 50px;
  }
  .skills-label {
    flex-direction: row;
  }
  .project-subtitle {
    text-align:center;
  }
  .project-container {
    text-align: center;
  }

  section {
    padding-top:20px;
    padding-bottom: 15px;
    min-height: 0;
  }
}

@media (max-width: 280px) {
  body {
    font-size: 14px;
    text-align:center;
  }
  h1,h2, 
  .info p {
    font-size: 90%;
  }
  .info {
    padding: 0;
  }
  .projects-container {
    padding-left: 0;
  }
/*   .tile {
    margin-left: 0;
    margin-right: 0;
  } */
}
