body {
  background: #bdf4ef;
}
h1 {
  color: #737373;
  margin-bottom: 0px;
}
h2, h3 {
  color: #737373;
}

.myHeader {
  position: relative;
  height: 120px;
  background: #20c5b5;   /* For browsers that do not support gradients */    
  background: -webkit-linear-gradient(left top, #20c5b5,  #66d9ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #20c5b5,  #66d9ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #20c5b5,  #66d9ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #20c5b5,  #66d9ff); /* Standard syntax (must be last) */
} 
.section {
  margin-top: 10px;
  margin-left: 10%;
  margin-bottom: 20px;
  margin-right: 10%;
}

.nav {
    position:absolute;
    bottom:0;
    right:10%;
}
.nav-link {
  color:  #737373; ;
}
.nav.navbar-nav a:hover {
 color: grey;
}

#portfolio {
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-gap: 15px;
}
.entry {
  border-radius: 5px;
}
img {
  max-width: 100%;
}
.caption {
  font-size: 12px;
  text-align: center;
}

.line {
  height: 3px;
  background:  #7be3ea; //#20c5d0;;
  margin-top: 20px; 
  margin-left: 10%;
  margin-right: 10%;
}
