/* Show it's not fixed to the top */
body {
  padding-top: 5em;
  background: white;
}


nav {
  border-bottom: solid 1px #07889b;
}
nav ul li a {
  color: #07889b;
}
nav ul li a:hover {
  color: #ccc;
}
nav ul li a:selected {
  color:black;
}
.navbarCollapse {
  margin-right: 5em;
}

.cover {
  color: white;
  width: 100%;
  min-height: 10em;
  text-align:center;
  position: relative; 
  border-radius: 10px;
}

.cover h1 {
  padding-top: 20px;
  padding-bottom: 0px;
}
.cover p {
  padding-top: 20px;
  padding-bottom: 10px;
}
.center-vh {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.section-details{
  width: 80%;
  margin: 20px auto 40px auto;
  background:#f2f2f2;
  box-shadow: 1px 3px 10px #07889b;
}
.sub-section {
  width: 80%;
  margin: auto;
}


#about-cover {
 /* background:#07889b;*/
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0e4f7+0,66b9bf+13,07889b+33,07889b+51,07889b+68,66b9bf+91,66b9bf+96 */
min-height: 15em;
background: #d0e4f7; /* Old browsers */
background: -moz-linear-gradient(left, #d0e4f7 0%, #66b9bf 13%, #07889b 33%, #07889b 51%, #07889b 68%, #66b9bf 91%, #66b9bf 96%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #d0e4f7 0%,#66b9bf 13%,#07889b 33%,#07889b 51%,#07889b 68%,#66b9bf 91%,#66b9bf 96%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #d0e4f7 0%,#66b9bf 13%,#07889b 33%,#07889b 51%,#07889b 68%,#66b9bf 91%,#66b9bf 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#66b9bf',GradientType=1 ); /* IE6-9 */
}
#about-section  {
  padding: 30px;
 /* box-shadow: 1px 3px 10px #07889b; */
}

#portfolio-cover {
 /* background: #e37222;*/ background: #f9ddbb; /* Old browsers */
background: -moz-linear-gradient(left, #f9ddbb 2%, #e37222 32%, #e37222 20%, #e37222 61%, #e37222 69%, #e37222 69%, #e37222 83%, #ffc578 95%, #f9ddbb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #f9ddbb 2%,#e37222 32%,#e37222 20%,#e37222 61%,#e37222 69%,#e37222 69%,#e37222 83%,#ffc578 95%,#f9ddbb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #f9ddbb 2%,#e37222 32%,#e37222 20%,#e37222 61%,#e37222 69%,#e37222 69%,#e37222 83%,#ffc578 95%,#f9ddbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ddbb', endColorstr='#f9ddbb',GradientType=1 ); /* IE6-9 */
  color: white;
}
/*#portfolio-section  {
  box-shadow: 1px 3px 10px #e37222; 
}*/
.portfolio-card {
  background: white;
  margin: 10px;
  box-shadow: 1px 3px 10px #ccc;
}

.portfolio-card h5 {
  text-align: center;
}
.portfolio-card p, a {
  font-size: .9em;
}

#contact-cover {
 /* background: #66b9bf;*/
 background: #d0e4f7; /* Old browsers */
background: -moz-linear-gradient(left, #d0e4f7 3%, #25b2bc 24%, #66b9bf 33%, #25b2bc 71%, #25b2bc 84%, #d0e4f7 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #d0e4f7 3%,#25b2bc 24%,#66b9bf 33%,#25b2bc 71%,#25b2bc 84%,#d0e4f7 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #d0e4f7 3%,#25b2bc 24%,#66b9bf 33%,#25b2bc 71%,#25b2bc 84%,#d0e4f7 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#d0e4f7',GradientType=1 ); /* IE6-9 */
}

#contact-section {
  margin: auto;
  color: black;
  padding: 20px;
  font-size: 1.25em;
} 
#contact-section i {
  font-size: 1.25em;
}

#contact-section a {
  color: black;
}
#contact-section a:hover {
  color: #07889b;
}

